<!doctype html>
<html lang="ja">
    <head>
        <style>
            .pad{
                background-color: lavendeu;
                border: solid 2px;
                padding-top: 30px;
                padding-bottom: 50px;
                padding-left: 100px;
                margin-top: 50px;
                margin-right: 70px;
                margin-left: 70px;
            }
        </style>
    </head>

    <body>
        <div class="pad">
            <h2>Photo Gallery</h2>
            <h4>
                新しいパスワードを2回入力して下さい。これにより、
                正しく入力できたことが確認できます。
            </h4>
            <br />
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="パスワードリセット"/>
            </form>
        </div>
    </body>
</html>